/* line 2, ../sass/gist.sass */
body .gist-meta {
  height: 0 !important;
  padding: 0 !important;
  display: none;
}
/* line 6, ../sass/gist.sass */
body .gist-meta .row {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 30px;
  text-align: center;
  display: block;
  width: 70px;
  background: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white !important;
  z-index: 100;
  float: none;
}
/* line 19, ../sass/gist.sass */
body .gist-meta a.gist {
  position: absolute;
  right: 61px;
  top: 0;
  line-height: 30px;
  text-align: center;
  display: block;
  padding: 0 14px;
  background: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white !important;
  z-index: 100;
  float: none;
}
/* line 32, ../sass/gist.sass */
body div.gist {
  margin: 1.5em -36px 1.5em -36px;
}
/* line 34, ../sass/gist.sass */
body div.gist .gist-file {
  font-size: 12px;
  margin-bottom: 0;
  border: none !important;
  color: #444444;
  position: relative;
}
/* line 39, ../sass/gist.sass */
body div.gist .gist-file .gist-data {
  border-top: dotted #dddddd 1px;
}
/* line 42, ../sass/gist.sass */
body div.gist .gist-file .gist-data pre {
  font-family: consolas, monospace, sans-serif !important;
  overflow: auto !important;
  color: #444444;
  background: url("images/line.gif"), white !important;
  margin: 0;
  padding: 0 0.5em 0 0.5em !important;
}
/* line 52, ../sass/gist.sass */
body div.gist .gist-file .gist-meta a {
  color: #ee30a7;
}
/* line 54, ../sass/gist.sass */
body div.gist .gist-file .gist-meta a:hover {
  color: #fff462;
}
/* line 56, ../sass/gist.sass */
body .gist-syntax {
  background: black;
}
/* line 58, ../sass/gist.sass */
body .gist-syntax .line {
  line-height: 18px;
}
/* line 60, ../sass/gist.sass */
body .gist-syntax .c, body .gist-syntax .cm, body .gist-syntax .cp, body .gist-syntax .c1, body .gist-syntax .cs {
  color: #00a1a1;
  font-style: normal;
}
/* line 63, ../sass/gist.sass */
body .gist-syntax .k, body .gist-syntax .kc {
  color: #ee30a7;
  font-weight: normal;
}
/* line 66, ../sass/gist.sass */
body .gist-syntax .kd {
  color: #cd950c;
}
/* line 68, ../sass/gist.sass */
body .gist-syntax .kp, body .gist-syntax .kr, body .gist-syntax .kt {
  color: #ee30a7;
  font-weight: normal;
}
/* line 71, ../sass/gist.sass */
body .gist-syntax .gd {
  color: #444444;
  background-color: #ffdddd;
}
/* line 74, ../sass/gist.sass */
body .gist-syntax .gd .x {
  color: #444444;
  background-color: #ffaaaa;
}
/* line 77, ../sass/gist.sass */
body .gist-syntax .ge {
  color: #444444;
  font-style: italic;
}
/* line 80, ../sass/gist.sass */
body .gist-syntax .gr {
  color: #aa0000;
}
/* line 82, ../sass/gist.sass */
body .gist-syntax .gh {
  color: #999999;
}
/* line 84, ../sass/gist.sass */
body .gist-syntax .gi {
  color: #444444;
  background-color: #ddffdd;
}
/* line 87, ../sass/gist.sass */
body .gist-syntax .gi .x {
  color: #444444;
  background-color: #aaffaa;
}
/* line 90, ../sass/gist.sass */
body .gist-syntax .go {
  color: #888888;
}
/* line 92, ../sass/gist.sass */
body .gist-syntax .gp {
  color: #555555;
}
/* line 94, ../sass/gist.sass */
body .gist-syntax .gs {
  font-weight: normal;
}
/* line 96, ../sass/gist.sass */
body .gist-syntax .gu {
  color: #aaaaaa;
}
/* line 98, ../sass/gist.sass */
body .gist-syntax .gt {
  color: #aa0000;
}
/* line 100, ../sass/gist.sass */
body .gist-syntax .m, body .gist-syntax .mf, body .gist-syntax .mh, body .gist-syntax .mi, body .gist-syntax .mo, body .gist-syntax .il, body .gist-syntax .s, body .gist-syntax .sb, body .gist-syntax .sc, body .gist-syntax .sd, body .gist-syntax .s2, body .gist-syntax .se, body .gist-syntax .sh, body .gist-syntax .si, body .gist-syntax .sx, body .gist-syntax .sr, body .gist-syntax .s1, body .gist-syntax .ss {
  color: #4f8700;
}
/* line 102, ../sass/gist.sass */
body .gist-syntax .na {
  color: teal;
}
/* line 104, ../sass/gist.sass */
body .gist-syntax .nb {
  color: #0086b3;
}
/* line 106, ../sass/gist.sass */
body .gist-syntax .nc {
  color: navy;
  font-weight: normal;
}
/* line 109, ../sass/gist.sass */
body .gist-syntax .no {
  color: teal;
}
/* line 111, ../sass/gist.sass */
body .gist-syntax .ni {
  color: purple;
}
/* line 113, ../sass/gist.sass */
body .gist-syntax .ne {
  color: #990000;
  font-weight: normal;
}
/* line 116, ../sass/gist.sass */
body .gist-syntax .nf {
  color: #cd950c;
  font-weight: normal;
}
/* line 119, ../sass/gist.sass */
body .gist-syntax .nn {
  color: #555555;
}
/* line 121, ../sass/gist.sass */
body .gist-syntax .nt {
  color: navy;
}
/* line 123, ../sass/gist.sass */
body .gist-syntax .nv {
  color: #444444;
}
/* line 125, ../sass/gist.sass */
body .gist-syntax .bp {
  color: #999999;
}
/* line 127, ../sass/gist.sass */
body .gist-syntax .vc, body .gist-syntax .vg, body .gist-syntax .vi {
  color: teal;
}
/* line 129, ../sass/gist.sass */
body .gist-syntax .o, body .gist-syntax .ow {
  color: #444444;
  font-weight: normal;
}
/* line 132, ../sass/gist.sass */
body .gist-syntax .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 135, ../sass/gist.sass */
body .gist-syntax .w {
  color: #bbbbbb;
}
/* line 137, ../sass/gist.sass */
body .gist-syntax .p {
  color: red;
}
